pygame==2.5.0
pygame-widgets==1.1.1
pyttsx3==2.90
sounddevice==0.4.6
numpy==1.24.3
pygame-imslider==1.0.2
pathlib==1.0.1
pycryptodome==3.20.0
mediapipe==0.10.11
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
